sentinel-deleteips
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "For_each": {
                "actions": {
                    "For_each_2": {
                        "actions": {
                            "Set_variable": {
                                "inputs": {
                                    "name": "storageid",
                                    "value": "@{items('For_each_2')}"
                                },
                                "runAfter": {},
                                "type": "SetVariable"
                            }
                        },
                        "foreach": "@body('HTTP_2')?['data']?['rows'][0]",
                        "runAfter": {
                            "HTTP_2": [
                                "Succeeded"
                            ]
                        },
                        "type": "Foreach"
                    },
                    "HTTP_2": {
                        "inputs": {
                            "authentication": {
                                "audience": "https://management.azure.com/",
                                "type": "ManagedServiceIdentity"
                            },
                            "body": {
                                "query": "resources | where type == 'microsoft.storage/storageaccounts' | extend dynamproperties = todynamic(properties) | extend storageaccountips = dynamproperties.networkAcls.ipRules | where isnotempty(storageaccountips) and array_length(storageaccountips) != 0 | project storageid=['id'] ",
                                "subscriptions": [
                                    "c726d50c-1ff7-4649-ae77-dda10d863fb0"
                                ]
                            },
                            "method": "POST",
                            "uri": "https://management.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2018-09-01-preview"
                        },
                        "runAfter": {},
                        "type": "Http"
                    },
                    "HTTP_3": {
                        "inputs": {
                            "authentication": {
                                "audience": "https://management.azure.com/",
                                "type": "ManagedServiceIdentity"
                            },
                            "body": {
                                "properties": {
                                    "networkAcls": {
                                        "bypass": "None",
                                        "defaultAction": "Deny",
                                        "ipRules": []
                                    }
                                }
                            },
                            "method": "PATCH",
                            "uri": "https://management.azure.com@{variables('storageid')}?api-version=2019-06-01"
                        },
                        "runAfter": {
                            "For_each_2": [
                                "Succeeded"
                            ]
                        },
                        "type": "Http"
                    }
                },
                "foreach": "@body('HTTP')?['value']",
                "runAfter": {
                    "HTTP": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "HTTP": {
                "inputs": {
                    "authentication": {
                        "audience": "https://management.azure.com/",
                        "type": "ManagedServiceIdentity"
                    },
                    "method": "GET",
                    "uri": "https://management.azure.com/subscriptions?api-version=2016-06-01"
                },
                "runAfter": {
                    "Initialize_variable": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Initialize_variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "storageid",
                            "type": "string",
                            "value": "@{null}"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {},
        "triggers": {
            "Recurrence": {
                "evaluatedRecurrence": {
                    "frequency": "Minute",
                    "interval": 30
                },
                "recurrence": {
                    "frequency": "Minute",
                    "interval": 30
                },
                "type": "Recurrence"
            }
        }
    },
    "parameters": {}
}
